@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 19);
  color: white;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.movie-indv {
  max-width: 300px;
  margin: 20px 10px;
}

.search-row {
  margin: 20px auto;
  width: 350px;
}

form > input {
  padding: 10px 10px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

.movie-container {
  position: relative;
  transition: transform 0.2s;
}

.movie-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.overlay {
  position: absolute;
  background: rgba(8, 8, 8, 0.75);
  width: 100%;
  transition: all 0.2s ease-in;
  opacity: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.overlay > span {
  color: rgb(248, 12, 12);
  margin-left: 5px;
}

.movie-container:hover .overlay {
  opacity: 1;
}

.favourite-movie {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  padding: 5px 25px;
  width: 100%;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
}

.links > li {
  list-style: none;
}

.indv-links {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-right: 15px;
  font-size: 20px;
}
